h1 {
	font-size: 6vh;
	text-align: center;
	margin-top: 0px;
}

hr {
	height: 0.2px;
	border: none;
	color: #FFFFFF;
	background-color: #FFFFFF;
	width: 30vw;
}

textarea {
	resize: none;
	/* top right bottom left */
	margin: 4vh 0 0 20%;
	padding: 1% 1% 1% 1%;
	background-color: #121212;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	height: 73vh;
	width: 75vw;
	text-align: left;
	font-size: large;
	display: inline-block;
}

.sidebar {
	background-color: #000000;
	display: inline-box;
	opacity: 80%;
}